NEXT_PUBLIC_SUPABASE_URL=https://ftrmqahltiegkvqtnved.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0cm1xYWhsdGllZ2t2cXRudmVkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQzMDY0MTYsImV4cCI6MjA2OTg4MjQxNn0.r23B9mBChDpiUMKSlM1Fmhf5sEO9uXs6JcH2bz1oeK4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0cm1xYWhsdGllZ2t2cXRudmVkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDMwNjQxNiwiZXhwIjoyMDY5ODgyNDE2fQ.GjunJAsTdeDM5ECy6LxFC1zcsqQpyLSt8L0N2_yQ6-0
ENCRYPTION_KEY=2fc636b144af9862a098b7d8ce28da21d80bca946b0013289b69beb5b85bdf8e
EVALUE8_BASE_URL=https://www.evalue8.co.za/evalue8webservice/